@font-face {
    font-family: 'Vandermark';
    src: url('Vandermark.woff2') format('woff2'),
        url('Vandermark.woff') format('woff'),
        url('Vandermark.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vandermark Oblique';
    src: url('Vandermark-Oblique.woff2') format('woff2'),
        url('Vandermark-Oblique.woff') format('woff'),
        url('Vandermark-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
